body {
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
}


h1,
h3,
h5,
p {
  color: #000;
}


a {
  color: #000 !important;
  text-decoration: none !important;
 }


hr {
  border-width: 2px;
}


/*header*/
.header {
  margin-top: 20px;
}


.logo-img {
  width: 71px;
  height: 57px;
  margin-top: 10px;
}


.align-right {
  text-align: right;
}


/*body*/
.projects-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #627788;
  font-size: 28px;
 }


.project {
  margin-bottom: 40px;
}


.project-img {
  margin-bottom: 10px;
 }

 
 /*footer*/
 .glyphicon {
  font-size: 28px; 
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
}